@charset "UTF-8";
/*
tudo em html é id e tudo em CSS # (só pode um elemento
tudo em html é Class e tudo em CSS . (pode varios elementos)
*/
@font-face {
  font-family: 'Doctor-Who';
  src: url('../fontes/Doctor-Who.ttf') format('tryetype');
  font-weight: normal;
}
:root{
    --cor01:#7786D9;
    --cor02:#F2D338;
    --cor03:#DB5939;
    --cor04:#0D0D0D;
    --cor05:#1a5c37;
    --cor06:#730202;
    --font-padrao: 'Arial', 'verdana', 'helvetica', 'sans serif';
    --font-Doctor-Who: 'Doctor-Who', 'cursive';
}
*{
  margin: 0px;
  padding-inline-start: 0px;
}
div.menu {
    display: inline-table;
    width: 10px;
    height: 10px;
}
body {
  font-family: var(--font-DoctorWho), helvetica, sans-serif;
  background-color: var(--cor04);

  height: 10vh;
  background-image: url('../imagens/fundo2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a.externo:after {
  content:'\00A0\1f517';
}
img {
  border-radius: 10px;
  box-shadow: 5px, 5px, 15px, var(--cor06);
  width: 2000px;
  height: 200px;;
  padding: 0px;
  margin: auto;
  text-align: center;
}
ol {
  width: 600px;
  padding: 10px;
  bottom: horizontal;
  box-orient: var(--cor03);
  margin: auto; 
  text-align: center;
}
  header {
    background-image: linear-gradient(to bottom,var(--cor02), var(--cor06));
    min-width: 150px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
  }
  header img {
    background-color: white;
    max-width: 700px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px, rgba(37, 101, 27, 0.694);
    text-align: center;
    min-width: 270px;
    max-width: 800px;
    margin-bottom: 10px;
  }
  header > h1 {
    color: white;
    font-family: var(--font-DoctorWho);
    font-size: 3em;
    margin: auto;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.461);
  }
  header > p {
    color: white;
    font-family: var(--font-DoctorWho);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.461);
  }
   nav {
    background-color: var(--cor06);
    padding: 5px;
    text-align: center;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.542);
   }
   nav > a {
    color: white;
    padding: 12px;
    width: 1000px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
   }
   nav > a:hover {
    background-color:var(--cor05);
    color:white;
    padding: 2px;
}
main {
  background-color: white;
  max-width: 1700px;
  padding: 10px;
  margin: auto;
  border: 1px solid darkblue;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px, 5px, 15px, rgba(37, 101, 27, 0.694);
  text-align: center;
  min-width: 270px;
  margin-bottom: 10px;
}
main h1 {
  color: var(--cor06);
  font-family: var(--font-DoctorWho);
  font-weight: normal;
  font-size: 1.8em;
  min-width: 10px;
}
main h2 {
  font-family: var(--font-DoctorWho);
  color: var(--cor03);
  font-size: 1.3em;
  min-width: 10px;
  font-weight: normal;
  background-image: linear-gradient(to right,var(--cor02), transparent);
  text-indent: 8px;
}
main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  min-width: 10px;
  line-height: 2em;
}
main img .pequena {
  max-width: 350%;
  display: block;
  margin: auto;
}
main img {
  width: 100%;
}
footer {
  background-color: black;
  color:white;
  text-align: center;
  padding: 20px;
  margin: auto;
}
footer > p {
  color:rgb(250, 244, 244);

}
footer a {
  color:white;
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: var(--cor02);
}
div.video {
  background-color: var(--cor04);
  margin: auto;
  padding: 20px;
  padding-bottom: 59%;
  position: relative;
}
div.video > iframe { 
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
.btn{
  display: block;
  width: 80%;
  display: inline-block;
  color: var(--cor03);
  background-color: #fff;
  border-color: #fff;
  box-shadow: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  transition: color #fff;
  margin-bottom: 1px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  }
  .btn:hover {
  color: #212529;
    }
  .btn-primary {
  color: #fff;
  background-color: var(--cor01);
  border-color: var(--cor02);
  }
  .btn-primary:hover {
  color: #fff;
  background-color: var(--cor01);
  border-color: var(--cor02);
  }
  .btn-check:focus + .btn-primary,
  .btn-primary:focus {
  color: #fff;
  background-color: var(--cor01);
  border-color: var(--cor02);
  box-shadow: 0 0 0 0.25rem var(--cor03);
  }
  .btn-check:active + .btn-primary,
  .btn-check:checked + .btn-primary,
  .btn-primary.active,
  .btn-primary:active,
  .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--cor01);
  border-color: var(--cor02);
  }
  .btn-check:active + .btn-primary:focus,
  .btn-check:checked + .btn-primary:focus,
  .btn-primary.active:focus,
  .btn-primary:active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem var(--cor03);
  }
  .btn-primary.disabled,
  .btn-primary:disabled {
  color: #fff;
  background-color: var(--cor01);
  border-color: var(--cor02);
    }